# ======================
# Node / JS
# ======================
node_modules/
.pnp
.pnp.js
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ======================
# React build
# ======================
build/
coverage/

# ======================
# Environment variables
# ======================
.env
.env.*
.env.local
.env.development.local
.env.test.local
.env.production.local
backend-nodejs/.env
frontend/.env
backend-fastapi/.env

# ======================
# Python
# ======================
venv/
backend-fastapi/venv/
__pycache__/
*.pyc

# ======================
# OS / misc
# ======================
.DS_Store
frontend1
